<h1>New {{singular_title}}</h1>

<%= web_form_with(url => "/{{plural_snake}}", method => "post") %>
{{form_fields}}
    <button type="submit">Create {{singular_title}}</button>
<%= web_form_close() %>

<p><%= web_link_to("Back", "/{{plural_snake}}") %></p>
